@font-face {
  font-family: "Hero Bold 700";
  src: local("Hero Bold 700"), url("./assets/fonts/HeroBold700.otf");
}

@font-face {
  font-family: "Hero Regular 400";
  src: local("Hero Regular 400"), url("./assets/fonts/HeroRegular400.otf");
}

@font-face {
  font-family: "Hero Light 200";
  src: local("Hero Light 200"), url("./assets/fonts/HeroLight200.otf");
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Hero Regular 400";
}

html {
  background-color: black;
  display: block;
}

.page-container {
  top: 70px;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

.loading-container {
  top: 70px;
  position: absolute;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-animation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-animation-bg {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-animation img {
  width: 60%;
}

.video-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red */
}

.footer {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  margin-top: auto;
  width: 100%;
  padding: 20;
  background-color: #052922;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer > * {
  padding: 10px;
}

.footer a:hover {
  color: #d37ad6;
}

.link-to-contact {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.link-to-contact > * {
  margin: 5px
}

a {
  text-decoration: none;
}