.scroll-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.video-copy p {
  font-size: 8em;
}

.scroll-icon {
  font-size: 5em;
  position: absolute;
  bottom: 0;
}

.between-text {
  width: 100%;
  height: 200vh;
  position: relative;
  overflow: hidden;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6em;
}

.between-text-final {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6em;
}

.between-text-content  {
  /* border: 2px solid blue; */
  /* padding-top: 20; */
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.between-text h1, .between-text-final h1 {
  font-size: 40px;
}

.between-text p, .between-text-final p {
  font-size: 20px;
  margin: 20px;
}

.between-text a, .between-text-final a {
  font-size: 20px;
}

.text {
  margin: auto;
  /* padding: 20px; */
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

.header {
  /* border: 2px solid green; */
}

.body-content {
  /* border: 2px solid blue; */
  padding: 20px 0px;
}

.body-content p {
  margin: 15px auto;
}

.scroll-icon-small {
  font-size: 50px;
  margin: auto;
  padding: 20px;
  width: fit-content;
  justify-self: center;
}

.about-link-button {
  border: 3px solid white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-link-hover {
  height: 100%;
  width: 100%;
}

.about-link-button h2 {
  font-size: 25px;
  padding: 25px;
}

.explore-button {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
