.video-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.video-copy p {
  font-size: 8em;
}

.scroll-icon {
  font-size: 5em;
  position: absolute;
  bottom: 0;
}

.between-text {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6em;
}

.between-text h1 {
  font-size: 50px;
}

.between-text p {
  font-size: 20px;
  margin: 20px;
}

.between-text a {
  font-size: 20px;
}

.text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-icon-small {
  font-size: 50px;
  margin: auto;
  width: fit-content;
  justify-self: center;
}

.about-link-button {
  border: 3px solid white;
  width: 20%;
  margin: 2%;
  padding: 3% 0;
  position: relative;
}

.explore-button {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}