.explore-video-container {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiker-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#explore-large {
  /* position: absolute; */
  margin: 0;
  padding: 0;
  /* top: 45% */
}
.explore-intro-copy {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.explore-intro-copy > * {
  margin: 20px;
}

.explore-intro-copy h1 {
  font-size: 3.5vw;
}
.explore-intro-copy h2 {
  font-size: 2.5vw;
}
.explore-intro-copy p {
  font-size: 1.5vw;
}

.explore-bar {
  /* border-radius: 25px; */
  /* padding: 25px; */
  width: 100%;
  /* width: 360px; */
  /* min-width: 360px; */
  margin: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to bottom right, #d37ad6, #ff8838);
}

.search-box {
  padding: 10px;
  width: 30%;
  text-align: left;
  align-items: center;
  /* border: 2px solid red */
}

.search-box > * {
  margin: 5px;
  /* border: 2px solid red */
}

.search-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red */
}

.autocomplete-field {
  /* width: 300px; */
}

.search-button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  background-color: #ff8838;
}

.park-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  /* width: 90%; */
  margin: auto;
  margin-top: 20px;
  /* overflow-y: scroll; */
  /* height: calc(100vh - 150px) */
}

.park-card {
  width: 300px;
  /* min-width: fit-content; */
  height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green */
}

.park-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.park-card-info {
  position: absolute;
  /* bottom: 0; */
  margin: auto;
  width: 100%;
  min-width: fit-content;
  max-width: 300px;
  /* min-width: 340px; */
  /* padding: 15px 0px; */
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  /* border: 2px solid red; */
}

.park-card-info h2 {
  font-size: 1.2em;
}

.park-card-info h3 {
  font-size: 1em;
}


@media (min-width: 950px) {
  .video-copy p {
    font-size: 143px;
  }
  .explore-intro-copy h1 {
    font-size: 33px;
  }
  .explore-intro-copy h2 {
    font-size: 24px;
  }
  .explore-intro-copy p {
    font-size: 14px;
  }
}

@media (max-width: 670px) {
  .explore-intro-copy h1 {
    font-size: 23px;
  }
  .explore-intro-copy h2 {
    font-size: 17px;
  }
  .explore-intro-copy p {
    font-size: 10px;
  }
}

@media (max-width: 854px) {
  .park-card {
    width: 100%;
    height: 150px
  }
}


@media (max-width: 500px) {
  .explore-bar {
    flex-direction: column;
  }
  .search-box {
    width: 80%
  }
}
